html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background: #fff;
  color: #000;
  font: 24px/40px "Open Sans", sans-serif; }
  @media screen and (max-width: 880px) {
    body {
      font: 18px/30px "Open Sans", sans-serif; } }
  body h1 {
    text-align: center;
    text-indent: -100000px;
    overflow: hidden;
    background: url("../../img/get-baked.jpg") no-repeat center;
    background-size: cover;
    width: 100vw;
    margin: 0; }
  body #scrollarrow {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #000;
    text-align: center;
    z-index: 100; }
    body #scrollarrow .fa {
      font-size: 8em; }
      @media screen and (max-width: 880px) {
        body #scrollarrow .fa {
          font-size: 5em; } }
      @media screen and (max-width: 600px) {
        body #scrollarrow .fa {
          font-size: 5em; } }
  body .intro-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    body .intro-container::after {
      clear: both;
      content: "";
      display: block; }
    body .intro-container p {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      text-align: center;
      padding-right: 2rem;
      padding-left: 2rem; }
      body .intro-container p:last-child {
        margin-right: 0; }
    body .intro-container .messaging {
      display: inline-block;
      margin-bottom: 40px; }
  body .main-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding: 30px 0; }
    body .main-container::after {
      clear: both;
      content: "";
      display: block; }
    body .main-container p {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%;
      margin-bottom: 0;
      text-align: center; }
      body .main-container p:last-child {
        margin-right: 0; }
    body .main-container .products {
      display: inline-block;
      margin-bottom: 40px;
      padding: 0 20px; }
      body .main-container .products .product {
        display: block;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 14.70196%;
        text-decoration: none;
        margin-bottom: 30px;
        margin-right: 2.85765%;
        width: 17.70196%; }
        body .main-container .products .product:last-child {
          margin-right: 0; }
        body .main-container .products .product:nth-child(5) {
          margin-right: 0; }
        body .main-container .products .product:nth-child(10) {
          margin-right: 0; }
        @media screen and (max-width: 1180px) {
          body .main-container .products .product {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 23.23176%; }
            body .main-container .products .product:last-child {
              margin-right: 0; }
            body .main-container .products .product:nth-child(4) {
              margin-right: 0; }
            body .main-container .products .product:nth-child(5) {
              margin-right: 2.35765%;
              clear: both; }
            body .main-container .products .product:nth-child(8) {
              margin-right: 0; }
            body .main-container .products .product:nth-child(9) {
              clear: both; }
            body .main-container .products .product:nth-child(10) {
              margin-right: 2.35765%; } }
        @media screen and (max-width: 880px) {
          body .main-container .products .product {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 31.76157%; }
            body .main-container .products .product:last-child {
              margin-right: 0; }
            body .main-container .products .product:nth-child(3) {
              margin-right: 0; }
            body .main-container .products .product:nth-child(4) {
              margin-right: 2.35765%;
              clear: both; }
            body .main-container .products .product:nth-child(5) {
              margin-right: 2.35765%;
              clear: none; }
            body .main-container .products .product:nth-child(6) {
              margin-right: 0; }
            body .main-container .products .product:nth-child(8) {
              margin-right: 2.35765%; }
            body .main-container .products .product:nth-child(9) {
              clear: none;
              margin-right: 0; }
            body .main-container .products .product:nth-child(10) {
              margin-right: 2.35765%;
              clear: both; } }
        @media screen and (max-width: 600px) {
          body .main-container .products .product {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 48.82117%; }
            body .main-container .products .product:last-child {
              margin-right: 0; }
            body .main-container .products .product:nth-child(2) {
              margin-right: 0; }
            body .main-container .products .product:nth-child(3) {
              margin-right: 2.35765%; }
            body .main-container .products .product:nth-child(4) {
              margin-right: 0;
              clear: none; }
            body .main-container .products .product:nth-child(5) {
              margin-right: 2.35765%; }
            body .main-container .products .product:nth-child(6) {
              margin-right: 0; }
            body .main-container .products .product:nth-child(8) {
              margin-right: 0; }
            body .main-container .products .product:nth-child(9) {
              clear: both;
              margin-right: 2.35765%; }
            body .main-container .products .product:nth-child(10) {
              margin-right: 0;
              clear: none; } }
        @media screen and (max-width: 480px) {
          body .main-container .products .product {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 100%;
            margin-right: 2.35765% !important; }
            body .main-container .products .product:last-child {
              margin-right: 0; } }
        body .main-container .products .product img {
          max-width: 100%;
          border-bottom: 1px solid #7f7f81;
          padding-bottom: 20px; }
        body .main-container .products .product h2 {
          font: 20px/28px "Open Sans Condensed", sans-serif;
          font-weight: 700;
          color: #5e75bd;
          text-transform: uppercase;
          letter-spacing: 3px;
          margin: 0; }
        body .main-container .products .product p {
          font: 16px/20px "Montserrat Alternates", sans-serif;
          color: #000;
          text-align: left;
          margin: 5px 0 0 0; }
    body .main-container .instagram {
      margin-bottom: 60px; }
    body .main-container .social {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      body .main-container .social:last-child {
        margin-right: 0; }
      body .main-container .social .events {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        body .main-container .social .events:last-child {
          margin-right: 0; }
        @media screen and (max-width: 1180px) {
          body .main-container .social .events {
            display: none; } }
        @media screen and (max-width: 880px) {
          body .main-container .social .events {
            display: block;
            float: none;
            margin: 0 0 40px 0;
            width: 100%;
            text-align: center; } }
        @media screen and (max-width: 600px) {
          body .main-container .social .events {
            display: none; } }
        body .main-container .social .events.small {
          display: none; }
          @media screen and (max-width: 1180px) {
            body .main-container .social .events.small {
              display: block;
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 31.76157%; }
              body .main-container .social .events.small:last-child {
                margin-right: 0; } }
          @media screen and (max-width: 880px) {
            body .main-container .social .events.small {
              display: none; } }
          @media screen and (max-width: 600px) {
            body .main-container .social .events.small {
              display: block;
              float: none;
              margin: 0 0 40px 0;
              width: 100%;
              text-align: center; } }
    body .main-container #mc_embed_signup {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      float: right; }
      body .main-container #mc_embed_signup:last-child {
        margin-right: 0; }
      @media screen and (max-width: 1180px) {
        body .main-container #mc_embed_signup {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 57.35098%;
          margin-left: 8.5298%; }
          body .main-container #mc_embed_signup:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 880px) {
        body .main-container #mc_embed_signup {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 82.94039%; }
          body .main-container #mc_embed_signup:last-child {
            margin-right: 0; } }
      body .main-container #mc_embed_signup form label {
        display: block;
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px; }
      body .main-container #mc_embed_signup form .subscribe-box {
        background: #999;
        padding: 20px; }
        body .main-container #mc_embed_signup form .subscribe-box input.email {
          -webkit-appearance: none;
          border: none;
          background: #999;
          display: inline-block;
          padding: 5px 20px;
          width: 65%; }
          body .main-container #mc_embed_signup form .subscribe-box input.email::-webkit-input-placeholder {
            color: #fff; }
          @media screen and (max-width: 600px) {
            body .main-container #mc_embed_signup form .subscribe-box input.email {
              display: block;
              width: 100%;
              text-align: center; } }
        body .main-container #mc_embed_signup form .subscribe-box input.button {
          border: 0;
          background: #fff;
          padding: 5px 20px;
          display: inline-block;
          float: right; }
          @media screen and (max-width: 600px) {
            body .main-container #mc_embed_signup form .subscribe-box input.button {
              float: none;
              margin: 10px auto 0 auto;
              display: block; } }
